.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 2px solid #E095D4;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.p {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 0 10px;
  color: #007bff;
}

.roomNumber{
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 0 10px;
  color: #007bff;
}

.bedsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cardBed {
  margin: 10px 10px;
  background-color: #fff;
  border: 2px solid #E095D4;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
  margin: 0px 50px;
  color: #007bff;
}

.addBed {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Расстояние между элементами */
}

.addBed input {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 8px 12px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}